<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.ak.com.akmall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 다음 음성인식 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 바코드 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <permission
        android:name="android.ak.com.akmall.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.ak.com.akmall.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.TestActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VoiceActivity" />
        <activity android:name=".activity.VoiceActivity_" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SettingActivity_" />
        <activity android:name=".activity.ShopPowerDealActivity" />
        <activity android:name=".activity.ShopPowerDealActivity_" />
        <activity android:name=".activity.ShopContentActivity" />
        <activity android:name=".activity.ShopContentActivity_" />
        <activity android:name=".activity.ShopGridActivity" />
        <activity android:name=".activity.ShopGridActivity_" />
        <activity android:name=".activity.ShopGallaryActivity" />
        <activity android:name=".activity.ShopGallaryActivity_" />
        <activity android:name=".activity.IntroActivity" />
        <activity android:name=".activity.IntroActivity_" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.MainActivity_" />
        <activity
            android:name=".activity.WebviewActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.WebviewActivity_"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activity.MoreActivity"></activity>
        <activity android:name=".activity.MyWebviewActivity"></activity>
        <activity android:name=".activity.MyWebviewActivity_"></activity>
        <!--<activity android:name=".activity.MoreActivity_" android:theme="@style/Theme.Transparent"></activity>-->

        <receiver android:name=".utils.BigWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_big" />
        </receiver>
        <receiver android:name=".utils.SmallWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_small" />
        </receiver>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="android.ak.com.akmall.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.gcm.RegistrationIntentService"
            android:exported="false" />
        <!-- [END gcm_receiver] -->
    </application>

</manifest>